/* .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* .sidebar{
    height: 350px;
    background-color: gray;
    position: relative;
    transition: all 0.5s;
}

.sidebar i{
    font-size: 30px;
    right: 50px;
    top: 300px;
    position: absolute;
}

.sidebar ul{
    display: flex !important;
    justify-content: space-around !important;
    height: 10vh;
}

.sidebar ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    transform: translateY(-280px);
} */

/* .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */



